<body>
    <p-card>
        <p-accordion class="w-full" expandIcon="pi pi-plus" collapseIcon="pi pi-minus">
            <p-accordionTab>
                <ng-template pTemplate="header">
                    <span>
                        <span class="font-bold white-space-nowrap">
                            Meus horarios agendado pendentes
                        </span>
                    </span>
                </ng-template>

                <p-table #dtNextSchedule [value]="nextSchedulesToList" [tableStyle]="{ 'min-width': '50%' }"
                    styleClass="p-datatable-striped" responsiveLayout="stack" [paginator]="true" [rows]="6"
                    [rowsPerPageOptions]="[6, 12,18, 24]" [globalFilterFields]="['username','date']">

                    <ng-template pTemplate="caption">
                        <div class="flex align-items-center justify-content-between">
                            <p-iconField iconPosition="left" class="ml-auto">
                                <p-inputIcon>
                                    <i class="pi pi-search"></i>
                                </p-inputIcon>
                                <input pInputText type="text"
                                    (input)="dtNextSchedule.filterGlobal(filterDtNextSchedule($event),'contains')"
                                    placeholder="Buscar..." />
                            </p-iconField>
                            <p-button icon="pi pi-refresh" (click)="refreshDtNextSchedule()" />
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="date">Data
                                <p-sortIcon field="date" />
                            </th>
                            <th pSortableColumn="username">Username
                                <p-sortIcon field="Username" />
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-schedule>
                        <tr>
                            <td>{{schedule.date}}</td>
                            <td><p-button label="{{schedule.username}}" [outlined]="true" [rounded]="true"
                                    disabled="true" /></td>
                        </tr>
                    </ng-template>
                </p-table>

            </p-accordionTab>
            <p-accordionTab>
                <ng-template pTemplate="header">
                    <span>
                        <span class="font-bold white-space-nowrap">
                            Meus horários agendado concluido
                        </span>
                    </span>
                </ng-template>

                <span>
                    <h3>Lista de seus horários concluidos</h3>
                </span>
                <p-table #dtPreviousSchedule [value]="previousSchedulesToList" [tableStyle]="{ 'min-width': '50%' }"
                    styleClass="p-datatable-striped" responsiveLayout="stack" [paginator]="true" [rows]="6"
                    [rowsPerPageOptions]="[6, 12,18, 24]" [globalFilterFields]="['username','date']">

                    <ng-template pTemplate="caption">
                        <div class="flex align-items-center justify-content-between">
                            <p-iconField iconPosition="left" class="ml-auto">
                                <p-inputIcon>
                                    <i class="pi pi-search"></i>
                                </p-inputIcon>
                                <input pInputText type="text"
                                    (input)="dtPreviousSchedule.filterGlobal(filterDtNextSchedule($event),'contains')"
                                    placeholder="Buscar..." />
                            </p-iconField>
                            <p-button icon="pi pi-refresh" (click)="refreshDtPreviousSchedule()" />
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="date">Data
                                <p-sortIcon field="date" />
                            </th>
                            <th pSortableColumn="username">Username
                                <p-sortIcon field="Username" />
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-schedule>
                        <tr>
                            <td>{{schedule.date}}</td>
                            <td><p-button label="{{schedule.username}}" [outlined]="true" [rounded]="true"
                                    disabled="true" /></td>
                        </tr>
                    </ng-template>
                </p-table>

            </p-accordionTab>
            <p-accordionTab>
                <ng-template pTemplate="header">
                    <span>
                        <span class="font-bold white-space-nowrap">
                            agendamento da galera
                        </span>
                    </span>
                </ng-template>
                <span>
                    <h3>Selecione uma data para listar o agendamento</h3>
                </span>
                <p-floatLabel>
                    <p-calendar [disabled]="isloading" inputId="GuysScheduleDateSelect" [iconDisplay]="'input'"
                        [showIcon]="true" dateFormat="dd/mm/yy" [(ngModel)]="GuysScheduleDateSelected" />
                    <label for="GuysScheduleDateSelect">Selecione a data para consultar agendamento</label>
                </p-floatLabel>

                <p-button class="btnSelectDate" label="Selecionar data" [loading]="isloading"
                    (click)="selectDateGuysSchedule()" />

                <p-table #dtGuysSchedule [columns]="cols" [value]="guysSchedulesToList"
                    [tableStyle]="{ 'min-width': '50%' }" styleClass="p-datatable-striped" responsiveLayout="stack"
                    [paginator]="true" [rows]="6" [rowsPerPageOptions]="[6, 12,18, 24]"
                    [globalFilterFields]="['username','horario']">

                    <ng-template pTemplate="caption">
                        <div class="flex align-items-center justify-content-between">
                            <p-iconField iconPosition="left" class="ml-auto">
                                <p-inputIcon>
                                    <i class="pi pi-search"></i>
                                </p-inputIcon>
                                <input pInputText type="text"
                                    (input)="dtGuysSchedule.filterGlobal(filterDtGuysSchedule($event),'contains')"
                                    placeholder="Buscar..." />
                            </p-iconField>
                            <p-button icon="pi pi-refresh" label="Atualizar" (click)="refreshDtGuysSchedule()" />
                            <p-button icon="pi pi-external-link" label="Exportar" pTooltip="PDF" (onClick)="exportPDF()" />
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{ col.header }}
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-schedule>
                        <tr>
                            <td>{{schedule.horario}}</td>
                            <td><p-button label="{{schedule.username}}" [outlined]="true" [rounded]="true"
                                    disabled="true" /></td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-accordionTab>
        </p-accordion>
    </p-card>
</body>