:host ::ng-deep {
    body {
        position: absolute;
        width: 100%;
        height: 100%;

        .showSchedulePerson .p-dialog {
            .p-accordion {
                position: relative;
                margin-top: 2%;

                .p-accordion-tab {
                    .p-toggleable-content {
                        .inline {
                            display: flex;
                            flex-direction: row;

                            .ng-star-inserted {
                                margin: 0.8%;
                            }
                        }

                        .footer {
                            margin-top: 3%;
                        }
                    }
                }
            }
        }

        .listSchedulePerson .p-dialog {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;

            .p-dialog-content {
                .p-datatable {
                    .p-datatable-header {
                        width: 100%;

                        .p-button {
                            margin-left: 2%;
                        }
                    }

                }
            }
        }

        .editPlataform .p-dialog {
            width: 100%;
            height: 100%;

            .p-card {
                position: relative;
                width: 50%;
                height: auto;
                left: 25%;

                .p-card-header {
                    left: 10%;
                    position: relative;
                    width: 70%;
                }

                .p-card-body {
                    .p-float-label {
                        position: relative;
                        width: 100%;
                    }

                    .p-inputtext {
                        position: relative;
                        width: 100%;
                    }
                }

                .p-card-footer {
                    position: relative;
                    left: 10%;
                    width: 80%;
                    border: 0;

                    .btnCancelar .p-button {
                        width: 100%;
                        background-color: #2f3335;
                        color: #fff;
                        border: 0;
                    }

                    .btnCadastrar .p-button {
                        background-color: #0a1c29;
                        color: #fff;
                        width: 100%;
                        border: 0;
                        margin-bottom: 2%;
                    }
                }
            }
        }

        .createPlataform .p-dialog {
            width: 100%;
            height: 100%;

            .p-card {
                position: relative;
                width: 50%;
                height: auto;
                left: 25%;

                .p-card-header {
                    left: 10%;
                    position: relative;
                    width: 70%;
                }

                .p-card-body {
                    .p-float-label {
                        position: relative;
                        width: 100%;
                    }

                    .p-inputtext {
                        position: relative;
                        width: 100%;
                    }
                }

                .p-card-footer {
                    position: relative;
                    left: 10%;
                    width: 80%;
                    border: 0;

                    .btnCancelar .p-button {
                        width: 100%;
                        background-color: #2f3335;
                        color: #fff;
                        border: 0;
                    }

                    .btnCadastrar .p-button {
                        background-color: #0a1c29;
                        color: #fff;
                        width: 100%;
                        border: 0;
                        margin-bottom: 2%;
                    }
                }
            }
        }

        .createUser .p-dialog {
            width: 100%;
            height: 100%;

            .p-card {
                position: relative;
                width: 50%;
                height: auto;
                left: 25%;

                .p-card-header {
                    left: 10%;
                    position: relative;
                    width: 70%;
                }

                .p-card-body {
                    left: 10%;
                    position: relative;
                    width: 70%;

                    .p-float-label {
                        position: relative;
                        width: 100%;
                    }

                    .p-inputtext {
                        position: relative;
                        width: 100%;
                    }

                    .p-calendar {
                        position: relative;
                        width: 100%;
                    }

                    .p-password {
                        position: relative;
                        width: 100%;
                    }
                }

                .p-card-footer {
                    position: relative;
                    left: 10%;
                    width: 80%;
                    border: 0;

                    .btnCancelar .p-button {
                        width: 100%;
                        background-color: #2f3335;
                        color: #fff;
                        border: 0;
                    }

                    .btnCadastrar .p-button {
                        background-color: #0a1c29;
                        color: #fff;
                        width: 100%;
                        border: 0;
                        margin-bottom: 2%;
                    }
                }
            }
        }

        .editUser .p-dialog {
            width: 100%;
            height: 100%;

            .p-card {
                position: relative;
                width: 50%;
                height: auto;
                left: 25%;
                top: 2%;

                .p-card-header {
                    left: 10%;
                    position: relative;
                    width: 70%;
                }

                .p-card-body {
                    left: 10%;
                    position: relative;
                    width: 70%;

                    .p-float-label {
                        position: relative;
                        width: 100%;
                    }

                    .p-inputtext {
                        position: relative;
                        width: 100%;
                    }

                    .p-calendar {
                        position: relative;
                        width: 100%;
                    }

                    .p-password {
                        position: relative;
                        width: 100%;
                    }

                    .btnChangePassword .p-button {
                        background-color: #143e5b;
                        color: #fff;
                        width: 100%;
                        border: 0;
                        margin-bottom: 2%;

                    }

                    .btnFormAgendamento .p-button {
                        width: 100%;
                        border: 0;
                        margin-bottom: 2%;
                    }
                }

                .p-card-footer {
                    position: relative;
                    left: 10%;
                    width: 80%;
                    border: 0;

                    .btnCancelar .p-button {
                        width: 100%;
                        background-color: #2f3335;
                        color: #fff;
                        border: 0;
                    }

                    .btnCadastrar .p-button {
                        background-color: #0a1c29;
                        color: #fff;
                        width: 100%;
                        border: 0;
                        margin-bottom: 2%;
                    }

                }
            }
        }

        .selectListUser .p-dialog {
            width: '50vw';

            .p-dialog-footer {
                .p-button {
                    width: 100%;
                    margin: 1%;
                    border: 0;
                }
            }
        }

        .listPlataform .p-dialog {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;

            .p-dialog-content {
                .p-datatable {
                    .p-datatable-header {
                        width: 100%;

                        .p-button {
                            margin-left: 2%;
                        }
                    }

                }
            }
        }

        .listUser .p-dialog {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;

            .p-dialog-content {
                .p-datatable {
                    .p-datatable-header {
                        width: 100%;

                        .p-button {
                            margin-left: 2%;
                        }
                    }

                }
            }
        }

        .criarAgendamentoDialog .p-dialog {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;

            .p-card {
                position: relative;
                width: 95%;
                height: auto;
                left: 2%;
                top: 2%;

                .p-card-body {
                    left: 2%;
                    position: relative;
                    width: 95%;

                    .p-float-label {
                        position: relative;
                        width: 100%;
                    }

                    .p-calendar {
                        position: relative;
                        width: 100%;
                    }

                    .btnSelectDate .p-button {
                        background-color: #0a1c29;
                        color: #fff;
                        width: 100%;
                        border: 0;
                        margin-top: 2%;
                        margin-bottom: 2%;
                    }

                    .btnNew .p-button {
                        background-color: #0a1c29;
                        color: #fff;
                        width: 100%;
                        border: 0;
                        margin-bottom: 2%;
                    }

                    .btnCancelSelectDate .p-button {
                        width: 100%;
                        background-color: #2f3335;
                        color: #fff;
                        border: 0;
                    }

                    .p-datatable {
                        .p-datatable-header {
                            width: 100%;

                            .p-button {
                                margin-left: 2%;
                            }
                        }

                    }
                }
            }
        }

        .registerScheduleForm .p-dialog {
            position: relative;
            width: 100%;
            margin: 0;

            .p-card {
                position: relative;
                width: 95%;
                height: auto;
                left: 2%;
                top: 2%;

                .p-card-body {
                    .p-float-label {
                        position: relative;
                        width: 100%;
                    }

                    .p-dropdown {
                        position: relative;
                        width: 100%;
                    }
                }

                .p-card-footer {
                    position: relative;
                    left: 10%;
                    width: 80%;
                    border: 0;

                    .btnList .p-button {
                        width: 100%;
                        background-color: #2f3335;
                        color: #fff;
                        border: 0;
                    }

                    .btnNew .p-button {
                        background-color: #0a1c29;
                        color: #fff;
                        width: 100%;
                        border: 0;
                        margin-bottom: 2%;
                    }

                }
            }
        }

        .masterCard .p-card {
            position: relative;
            width: 95%;
            left: 2%;
            top: 2%;

            .p-card-content {
                .p-card {
                    position: relative;
                    width: 98%;
                    margin-top: 1%;

                    .p-card-footer {
                        position: relative;
                        left: 10%;
                        width: 80%;
                        border: 0;

                        .btnNew .p-button {
                            width: 40%;
                            background-color: #2f3335;
                            color: #fff;
                            border: 0;
                        }

                        .btnList .p-button {
                            background-color: #0a1c29;
                            color: #fff;
                            width: 40%;
                            margin-left: 2%;
                            border: 0;
                        }
                    }
                }
            }
        }
    }
}